*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  font-size: 20px;
  
}
img{
  height: 65px;
  margin: 10px;
}
ul{
  border: transparent 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
ul a{
  text-decoration: none;
}
header{
  display:-webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -o-flex;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  background-color: #515A5A ;
  
}
.logo{
  cursor: pointer;
}
.nav-type li{
  display: inline-block;
  padding:0px 15px;
  flex-direction: row-reverse;
}
.nav-type {
  list-style: none;
}

.nav-type a li{
  transition: .3s;
  color: white;
}
h2{
  font-size: 100px;
}
