*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  img{
  height: 65px;
  margin: 10px;
}
ul{
  border: transparent 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
ul a{
  text-decoration: none;
}
header{
  background-color: #ABEBC6 ;
  height: 80px;
  
}
.logo{
  cursor: pointer;
}
.nav-type li{
  display: inline-block;
  padding:0px 15px;
  flex-direction: row-reverse;
}
.nav-type {
  list-style: none;
}
body{
  background-image: url(/images/wall.png);
}
